body{
  background-color: rgb(250, 250 , 250);
}

.star-rating {
  font-size: 2rem; /* Adjust size of stars */
  cursor: pointer;
}

.star-rating .filled {
  color: gold; /* Gold for filled stars */
}

.star-rating .hovered {
  color: yellow; /* Light gray for hovered stars */
}

.star-rating .unfilled {
  color: #d3d3d3; /* Gray for unfilled stars */
}